
<div style="background-color: blueviolet;" >
    <h1>ORDER CONFIRMATION</h1>
    <p>Mr <%=customer%> , thank you for your order! </p>
    <p>You can find your purchase information below</p>
    <div><%=cours%> </div>
    
</div>

